body{
    background-image: url(../images/startBG.jpg);
}

.myForm {
    display: none;
}

#posKeep {
    background-color: #D6DBDF;
}

.jumbotron {
    background-image: url(../images/svBG.png); 
} 

.executioner {
    height: 150px;
    width: 150px;
}

.jumbotron, h1 {
    font-family: 'Nothing You Could Do', cursive;
}

#hm {
    color: #8A0707;
}

.panel-body {
    background: #f0f0f5;
}

.footer-copyright {
    color: #f0f0f5
}

.footer-copyright, a {
    color: #f0f0f5
}

.img-responsive {
    border:1px solid #8A0707;
}

#winpanel {
    color: white;
    background: green;
}
#winBrowser {
    color: white;
    background: green;
}
#losepanel {
    color: white;
    background: #8A0707;
}
#lostBrowser {
    color: white;
    background: #8A0707;
}